<!doctype html>
<html lang="<%= lang %>">
	<head>
		<title><%- __("UD Chat") %> - <%- __("UD Chatについて") %></title>
		<%- include('parts/head', {}) %>
	</head>
	<body>
		<% if (isAlreadySignIn) { %>
			<%- include('parts/nav_bar', {}) %>
		<% } else { %>
			<%- include('parts/nav_bar_before_signin', {}) %>
		<% } %>

		<%- include('aboutBody', {}) %>
			
		<div class="container p-3">
			<%- __("ご意見・ご要望は") %><a href="https://forms.gle/eVVfGmgBSsyLcUAw7" target="_blank"><%- __("こちら") %></a><%- __("まで。") %>
		</div>
		<div class="container p-3">
			<%- __("開発・企画：Code for Nerima 青木秀仁") %>
		</div>
		<%- include('parts/footer', {}) %>
	</body>
</html>