<!DOCTYPE html>
<html>
	<head>
		<title><%- __("UD Chat") %></title>
		<%- include('parts/head', {}) %>
	</head>
	<body>
		<div class="container">
			<h1>...Please wait</h1>
		</div>
		<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-auth.js"></script>
		<% if (config.apiKey != '') { %>
		<script>
 
 		$(window).on('load', async function() {		
			let config = {
				apiKey: "<%= config.apiKey %>",
				authDomain: "<%= config.authDomain %>",
				projectId: "<%= config.projectId %>",
				storageBucket: "<%= config.storageBucket %>",
				messagingSenderId: "<%= config.messagingSenderId %>",
				appId: "<%= config.appId %>",
				measurementId: "<%= config.measurementId %>"
			};

			firebase.initializeApp(config);

			if (firebase.currentUser == null) {
				location.href = "/" ;
				return ;
			}

			firebase.auth().onAuthStateChanged((user) => {
				let uid = user.uid ;

				firebase.auth().signOut() ;

				location.href = "/signin?uid=" + uid ;
			});
		}) ;
		</script>
		<% } %>
	</body>
</html>