<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Firebase Auth</title>
	</head>
	<body>
		<h1>...Please wait</h1>
		<div id="info"></div>

		<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-auth.js"></script>
		<% if (config.apiKey != '') { %>
		<script>

		let config = {
			apiKey: "<%= config.apiKey %>",
			authDomain: "<%= config.authDomain %>",
			projectId: "<%= config.projectId %>",
			storageBucket: "<%= config.storageBucket %>",
			messagingSenderId: "<%= config.messagingSenderId %>",
			appId: "<%= config.appId %>",
			measurementId: "<%= config.measurementId %>"
		};

		firebase.initializeApp(config);

		firebase.auth().onAuthStateChanged(async (user) => {
			let uid = user.uid ;

            await firebase.auth().signOut() ;

			console.log(sessionCookie) ;

			location.href = "/signin?uid=" + uid ;
		});
		</script>
		<% } %>
	</body>
</html>