<!doctype html>
<html lang="<%= lang %>">
	<head>
		<title><%- __("UD Chat") %> - <%- __("チャットを作成") %></title>
		<%- include('parts/head', {}) %>
	</head>
	<body>
		<%- include('parts/nav_bar', {}) %>

		<div class="container p-3">
			<h2><%- __("チャットを作成") %></h2>
		</div>

		<div class="container p-3">
			<form method="POST" action="/create">
				<div class="form-group">
					<label for="name"><%- __("チャット名") %><span class="badge badge-danger m-2"><%- __("必須") %></span></label>
					<input required type="text" maxlength="30" class="form-control" id="name" name="name" value="<%= data.name %>" aria-describedby="nameHelp">
				</div>
				<div class="form-group">
					<label for="displayName"><%- __("名前") %></label>
					<input type="text" maxlength="30" class="form-control" id="displayName" name="displayName" value="<%= data.displayName %>" aria-describedby="displayNameHelp">
					<small id="displayNameHelp" class="form-text text-muted"><%- __("チャットに表示される名前を入力してください。省略するとプロフィールの名前になります。") %></small>
				</div>
				<div class="form-group">
					<label for="passcode"><%- __("パスコード") %><span class="badge badge-danger"></span></label>
					<input autocomplete="off" type="text" maxlength="30" class="form-control" id="passcode" name="passcode" value="<%= data.passcode %>" aria-describedby="passcodeHelp">
					<small id="passcodeHelp" class="form-text text-muted"><%- __("チャットに参加するときに必要なパスコードを設定します。省略することもできます。") %></small>
				</div>
				<% if (data.chatId != undefined) { %>
					<input type="hidden" name="chatId" value="<%= data.chatId %>">
				<% } %>
				<div class="form-group">
					<% if (data.chatId != undefined) { %>
						<button type="submit" class="btn btn-primary"><%- __("更新") %></button>
					<% } else { %>
						<button type="submit" class="btn btn-primary"><%- __("作成") %></button>
					<% } %>
					<button class="btn btn-danger" onclick="location.href='/'"><%- __("キャンセル") %></button>
				</div>
				<script>
					$(function() {
						$('form').submit(function() {
							$(this).find(':submit').attr('disabled', 'disabled') ;
					  	});
					});
				</script>
			</form>
		</div>
		<%- include('parts/footer', {}) %>
	</body>
</html>