<!doctype html>
<html lang="<%= lang %>">
    <head>
        <title><%- __("UD Chat") %> - <%- __("パスワードリセット") %></title>
        <%- include('parts/head', {}) %>
        <link href="stylesheets/signin.css" rel="stylesheet">
    </head>
    <body>
        <div class="container text-center">
            <%- include('parts/lang', {}) %>
            <h1 class='h1'><%- __("UD Chat") %></h1>
            <form class="form-signin" method="post" action="/reset_password">
                <h1 class="h3 mb-3 font-weight-normal"><%- __("パスワードリセット") %></h1>
                <label for="inputEmail" class="sr-only"><%- __("メールアドレス") %></label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="<%- __("メールアドレス") %>" required autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><%- __("リセット") %></button>
                <div class="my-3">
                    <strong><%- __("入力したメールアドレスに再設定の案内がとどきます") %></strong>
                </div>
                <div class="my-3">
                    <a href="/signin"><%- __("サインインに戻る") %></a>
                </div>
                <% if (errorMessage != '') { %>
                    <div class="alert alert-primary my-3" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <p class="my-3 text-muted"><%- __("©︎ 2021 Shamrock Records, Inc. CC BY 4.0") %></p>
            </form>
        </div>
    </body>
</html>