<!doctype html>
<html lang="ja" >
    <head>
        <title><%- __("UD Chat") %> - <%- __("サインイン") %></title>
        <%- include('parts/head', {}) %>
        <link href="stylesheets/signin.css" rel="stylesheet">

        <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/ui/3.5.2/firebase-ui-auth__ja.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

        <% if (config.apiKey != '') { %>
        <script>  
            var config = {
                apiKey: "<%= config.apiKey %>",
                authDomain: "<%= config.authDomain %>",
                projectId: "<%= config.projectId %>",
                storageBucket: "<%= config.storageBucket %>",
                messagingSenderId: "<%= config.messagingSenderId %>",
                appId: "<%= config.appId %>",
                measurementId: "<%= config.measurementId %>"
            };

            firebase.initializeApp(config);

            var uiConfig = {
                signInSuccessUrl: '/auth_done',
                signInOptions: [
                    firebase.auth.FacebookAuthProvider.PROVIDER_ID
                ],
            };

            var ui = new firebaseui.auth.AuthUI(firebase.auth());
            ui.start('#firebaseui-auth-container', uiConfig);   
        </script>
        <% } %>
    </head>
    <body>
        <div class="container text-center">
            <div class="container p-2">
                <%- include('parts/lang', {}) %>
                <strong><%- __("自動翻訳機能付きグループチャット") %></strong>
                <h1 class='h1'><%- __("UD Chat") %></h1>
            </div>
                <p><%- __("驚くほど簡単にグループチャットができます。") %></p>
                <p><%- __("チャットを作ったらURLをコピーして送るだけ。") %></p>
                <p><%- __("パスコードの設定もできるので安心！") %></p>
                <p><%- __("UDはユニバーサルデザインで、誰でも簡単に使えることを目指しています。") %></p>
            <form class="form-signin" method="post" action="/signin">
                <h1 class="h3 mb-3 font-weight-normal"><%- __("サインイン") %></h1>
                <label for="inputEmail" class="sr-only"><%- __("メールアドレス") %></label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="<%- __("メールアドレス") %>" required autofocus>
                <label for="inputPassword" class="sr-only"><%- __("パスワード") %></label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="<%- __("パスワード") %>" required>
                <input type="hidden" name="chatId" value="<%= chatId %>">
                <button class="btn btn-lg btn-primary btn-block" type="submit"><%- __("サインイン") %></button>
                <% if (errorMessage != '') { %>
                    <div class="alert alert-primary my-3" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } %>
            </form>

            <div class="container">
                <div class="my-3">
                    <a href="/reset_password"><%- __("パスワードを忘れた方はこちら") %></a>
                </div>
                <div class="my-3">
                    <% if (chatId != '') { %>
                        <a href="/signup?chatId=<%= chatId %>"><%- __("初めてサインインする方はこちら") %></a>
                    <% } else { %>
                        <a href="/signup"><%- __("初めてサインインする方はこちら") %></a>
                    <% } %>
                </div>
            </div>

            <div class="container">
                <div id="firebaseui-auth-container"></div>
            </div>

            <div class="container">
                <a href="/about"><%- __("ご利用について") %></a>
            </div>
            <div class="container">
                <p class="my-3 text-muted"><%- __("©︎ 2021 Shamrock Records, Inc. CC BY 4.0") %></p>
            </div>
        </div>
    </body>
</html>

